.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--lf-space-4);
  padding-right: var(--lf-space-4);
}

@media (min-width: 640px) {
  .container {
    padding-left: var(--lf-space-6);
    padding-right: var(--lf-space-6);
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: var(--lf-space-8);
    padding-right: var(--lf-space-8);
  }
}

.sm {
  max-width: 768px;
}

.md {
  max-width: 1024px;
}

.lg {
  max-width: 1440px;
}

.full {
  max-width: 100%;
}
